/*margin
    border
        padding 
            content */

.post{
    background: #fff;
    padding:10px ;
    border: 3px solid black;
    margin: 10px;
}

/* Estetizando Padding*/

.post{
    padding: 15px 10px 5px 0;
}

/* or */

.post{
    padding-top:15px ;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 0;
}

/*Background*/

.post{
    background-color: green;
    background-image: url("bg.png");
    background-position: top;
}

/*Border*/

.post{
    border: 3px solid blue;
    border-top: 2px dotted green;
    border-right: 4px dashed pink;
    border-radius: 10px; /* Serve para arredondar */
}

